@charset "UTF-8";
/*
    1. CONFIGURACIÓN INICIAL
*/
html {
  scroll-behavior: smooth;
}

/*
    2. ESTILOS A .menu-navbar
*/
.menu-navbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
  position: fixed;
  width: 100%;
  transition: all 0.5s ease;
}
.menu-navbar a {
  color: #f8f8f8;
  text-decoration: none;
}
.menu-navbar #menuNavegacion li {
  padding: 0.6rem 1rem;
  border-radius: 0.15rem;
}
.menu-navbar #menuNavegacion .active {
  background-color: #752F97;
}

/*
    3. ESTILOS A #video
*/
#video {
  width: 100%;
  z-index: -1;
}
#video .container-video {
  overflow: hidden;
}
#video .container-video video {
  max-height: 100%;
  max-width: 100%;
}
#video .container-video .containerMultimedia::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#video .bloqueInformacion {
  position: absolute;
  color: white;
}
#video .bloqueInformacion .titulo {
  font-size: 1.7rem;
  font-weight: normal;
}
#video .bloqueInformacion .titulo span {
  background-color: #fff;
  font-weight: bold;
  color: #F53756;
  padding: 0rem 0.7rem;
}
#video .bloqueInformacion .subTitulo {
  display: inline-block;
  background-color: #fff;
  font-weight: bold;
  color: #F53756;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

/*
    4. ESTILOS A #lineUp
*/
#lineUp .escenario1 li:nth-child(2n) {
  background-color: #d1c201;
}
#lineUp .escenario2 li:nth-child(2n) {
  background-color: #41a4a0;
}
#lineUp .escenario1 p,
#lineUp .escenario2 p {
  font-weight: lighter;
  font-size: 1.5rem;
}
#lineUp .escenario1 ul,
#lineUp .escenario2 ul {
  text-align: left;
}
#lineUp .escenario1 ul li,
#lineUp .escenario2 ul li {
  padding: 0.9rem 1.2rem;
  font-weight: lighter;
  font-size: 1.1rem;
}
#lineUp .escenario1 ul li span,
#lineUp .escenario2 ul li span {
  font-weight: bold;
}

/*
    5. ESTILOS A #tiempoFaltante
*/
#tiempoFaltante .titulo {
  font-size: 3rem;
}
#tiempoFaltante .tiempo {
  font-size: 2.2rem;
  font-weight: normal;
}
#tiempoFaltante .tiempo span {
  font-weight: bold;
}

/*
    4. ESTILOS A #boletos
*/
#boletos .lista {
  font-size: 1.1rem;
}
#boletos .lista .precio {
  font-size: 2rem;
}

/*
    X. MEDIA QUERYS
*/
@media (min-width: 576px) {
  #tiempoFaltante .titulo {
    font-size: 3.5rem;
  }
  #tiempoFaltante .tiempo {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  #video .bloqueInformacion .titulo {
    font-size: 2.5rem;
  }
  #video .bloqueInformacion .subTitulo {
    padding: 0.7rem;
    font-size: 1.3rem;
  }

  #tiempoFaltante .titulo {
    font-size: 4rem;
  }
  #tiempoFaltante .tiempo {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  #video .bloqueInformacion .titulo {
    font-size: 3.2rem;
  }
  #video .bloqueInformacion .titulo span {
    padding: 1;
  }
  #video .bloqueInformacion .subTitulo {
    display: inline-block;
    background-color: #fff;
    font-weight: bold;
    color: #F53756;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2.4rem;
  }

  #tiempoFaltante .titulo {
    font-size: 4.5rem;
  }
  #tiempoFaltante .tiempo {
    font-size: 2.8rem;
  }
}
@media (min-width: 1200px) {
  #video .bloqueInformacion .titulo {
    font-size: 4rem;
  }
  #video .bloqueInformacion .subTitulo {
    font-size: 2.7rem;
  }

  #tiempoFaltante .titulo {
    font-size: 6rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
